<div class="main">
  <div class="cell-half"><span class="text">進捗率<li>Progress</li></span><span class="figure">0.04%</span></div>
  <div class="cell-half"><span class="text">理想進捗<li>Progress of ideal</li></span><span class="figure">0.61%</span></div>
  <div class="cell"><span class="text">現在時刻<li>Current Time</li></span><span class="figure"><% time = Time.now %><%= time.strftime('%H:%M:%S') %></span></div>
  <div class="cell"><span class="text">残時刻<li>Remaining Time</li></span><span class="figure"><% time = Time.now %><%= time.strftime('%H:%M:%S') %></span></div>
</div>
