// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
  list-style: none;
}
.task-index{
  margin-top: 20px;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  border-left: 5px solid #FF9933;
  .tittle{
    margin-left: 20px;
    font-size: 50px;
  }
  .end-time{
    float: right;
    font-size: 50px;
  }
}
